<!DOCTYPE html>
<html>
	<head>
		<title>Express?</title>
	</head>
	<body>
		<h1>Webpage tk</h1>
		<h3>You are <%= age %></h3>
		<% for (var i=0; i<names.length; i++) { %>
			<h3>Hello, <%= names[i] %></h3>
		<% } %>
	</body>
</html>